<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="styles-db.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"><head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta drescription="NOMO UI">
  <title>NOMO - Landing pages UI</title>
    <body>
      <script>
    if (screen && screen.width > 600) {
      document.write('<script type="text/javascript" src="menu.js"><\/script>');
    }
    </script>
      <div class="mobile" id="mobile-menu">
        <div class="menu">
          <button class="hamburger" onclick="off()">
          <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="desk" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Contact-thankyou" transform="translate(-325.000000, -146.000000)">
                      <circle id="Oval-3" fill="#17D6D8" cx="348" cy="169" r="23"></circle>
                      <g id="Group" transform="translate(338.000000, 159.000000)" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                          <g id="Group-2">
                              <path d="M0.5,0.5 L19.1681547,19.1681547" id="Line"></path>
                              <path d="M19.1681547,0.5 L0.5,19.1681547" id="Line"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
      </button>
      <nav class="mobile">
        <div class="companylogo">Company name
        </div>
          <a href="index.html"> Landing UI </a>
          <a class="active" href="">Payments</a>
          <a href="menu1"> Item1 </a>
          <a href="menu1"> Item1 </a>
          <a href="menu1"> Item1 </a>
          <a href="menu1"> Item1 </a>
        </nav>      
        </div>

      </div>
      <div class="db-grid">
        <header>
          <div class="menu">
  <button class="hamburger" onclick="on()">
            <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="desk" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Contact-thankyou" transform="translate(-425.000000, -146.000000)">
                        <circle id="Oval-3" fill="#17D6D8" cx="448" cy="169" r="23"></circle>
                        <g id="Group" transform="translate(438.000000, 162.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g id="Group-2">
                                <path d="M0,2 C-1.1045695,2 -2,1.1045695 -2,0 C-2,-1.1045695 -1.1045695,-2 0,-2 L19.8005682,-2 C20.9051377,-2 21.8005682,-1.1045695 21.8005682,0 C21.8005682,1.1045695 20.9051377,2 19.8005682,2 L0,2 Z" id="Line"></path>
                                <path d="M0,9 C-1.1045695,9 -2,8.1045695 -2,7 C-2,5.8954305 -1.1045695,5 0,5 L19.8005682,5 C20.9051377,5 21.8005682,5.8954305 21.8005682,7 C21.8005682,8.1045695 20.9051377,9 19.8005682,9 L0,9 Z" id="Line"></path>
                                <path d="M0,16 C-1.1045695,16 -2,15.1045695 -2,14 C-2,12.8954305 -1.1045695,12 0,12 L19.8005682,12 C20.9051377,12 21.8005682,12.8954305 21.8005682,14 C21.8005682,15.1045695 20.9051377,16 19.8005682,16 L0,16 Z" id="Line"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </button>
          </div>
          Cart details</header>
      <div class="sidebar">
        <div class="companylogo">Company name
        </div>
          <nav>
              <a href="index.html"> Landing UI </a>
              <a class="active" href=""> Payments </a>
              <a href="menu1"> Item1 </a>
              <a href="menu1"> Item1 </a>
              <a href="menu1"> Item1 </a>
              <a href="menu1"> Item1 </a>
            </nav>
      </div>
      <div class="main">
        <div class="card">
      <div class="subnav">
      <a href="history.html"> &larr; Payment history  </a>
    </div>
              <ul class="learnmore">
                <li>Cart ID
                <div class="data">IDDBMrLmCHZG5zYZq2V </div>
                </li>
                <li>Created
                <div class="data">23.11.2017 15:06 </div>
                </li>
                <li>Updated
                <div class="data">n/a </div>
                </li>
                <li>Buyer
                <div class="data">Hulk Hogan </div>
                </li>
                <li>Description
                <div class="data">1232323 </div>
                </li>
                <li>Amount
                <div class="data">&euro;210.00 </div>
                </li>
                <li>Payment method
                <div class="data">MasterCard -1234 </div>
                </li>
                <li>PSP
                <div class="data">DDPS </div>
                </li>
                <li>Cart ID
                <div class="data">PSP Tx ID 2389328498324 </div>
                </li>
              </p>
              </div>

              <!end of modal card>
        </div>
        <!End of wrapper >
      </div>
    </body>
</html>
