<!DOCTYPE html>
<html>
   <head>
      <link type="text/css" href="styles-db.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta drescription="NOMO UI">
      <title>NOMO - Landing pages UI</title>
   </head>
   <body>
      <script src="menu.js"></script>
      <div id="mobile-menu">
         <div class="menu">
            <button class="hamburger x" onclick="off()">
            &#10005;
            </button>
            <nav class="mobile">
               <div class="companylogo">Supermarketplace
                  <span class="sandbox">Sandbox</span>
               </div>
               <a href="overview.html"> Overview </a>
               <a class="active" href="dashboard.html">Payments</a>
            </nav>
         </div>
      </div>
      </div>
      <div class="db-grid">
         <header>
            <div class="menu">
               <button class="hamburger 3 lines" onclick="on()">
               &#9776;
               </button>
            </div>
            <div class="sectionname">Payments</div>
         </header>
         <div class="sidebar">
            <div class="companylogo">Supermarketplace
            </div>
            <div class="sandbox">Sandbox</div>
            <nav>
               <a href="overview.html"> Overview </a>
               <a class="active" href="dashboard.html">Payments</a>
            </nav>
         </div>
         <div class="main">
            <div class="card">
               <div class="date">27 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;20.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;210.00
                  </div>
               </div>
               <p>Hulk Hogan placed order 121122 with Freezers
                  INC and paid with MasterCard ...8833
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
            <div class="card">
               <div class="date">22 November 2018</div>
               <div class="payments">
                  <div class="revenue">
                     <div class="tinytitle">Your commission</div>
                     <em class="plus">&plus;</em>&euro;40.00
                  </div>
                  <div class="order">
                     <div class="tinytitle">Customer paid</div>
                     &euro;410.00
                  </div>
               </div>
               <p>{Customer name} placed {description} with {seller name}
                  and paid with {payment method}
               </p>
               <a href="history.html">Payment history</a>
            </div>
            <!--End of card-->
         </div>
      </div>
      <!--end of wrapper-->
      <footer></footer>
      </div>
   </body>
</html>
