@@ -49,7 +49,7 @@
        <div class="card">
          <div class="devnav">
             <a href="developers.html">1. Basic concepts</a>
              <a href="quickstart.html">2. Quick start</a>
              <a href="sandbox.html">2. Sandbox</a>
              <a href="http://nomo.io/docs" target="_blank">3. API Docs</a>
          </div>
          <section class="gridwrapper1">
@ -188,7 +188,7 @@
            <div>
            <h2>Setup</h2>
            <p>
              Getting you up and running is pretty straightforward. We create an account with a master user for you and provide you with <a href="quickstart.html">Sandbox access</a>. Then you can create as many admin users as you need for your business and start onboarding your customers. You do that by creating Accounts. Accounts can have multiple <a href="https://nomo.io/docs#tag/User" target="_blank">Users</a> (e.g. your customers are businesses themselves) and multiple <a href="https://nomo.io/docs#tag/Wallet" target="_blank">Wallets</a> (e.g. one for EUR and another one for GBP). <a href="https://nomo.io/docs#tag/Kyc" target="_blank"> KYC</a> data is also associated with each Account. Don’t worry, we provide a fully-fledged identity verification solution for you!
              Getting you up and running is pretty straightforward. We create an account with a master user for you and provide you with <a href="sandbox.html">Sandbox access</a>. Then you can create as many admin users as you need for your business and start onboarding your customers. You do that by creating Accounts. Accounts can have multiple <a href="https://nomo.io/docs#tag/User" target="_blank">Users</a> (e.g. your customers are businesses themselves) and multiple <a href="https://nomo.io/docs#tag/Wallet" target="_blank">Wallets</a> (e.g. one for EUR and another one for GBP). <a href="https://nomo.io/docs#tag/Kyc" target="_blank"> KYC</a> data is also associated with each Account. Don’t worry, we provide a fully-fledged identity verification solution for you!

            </p>
          </div>
@ -636,7 +636,8 @@ If you choose to integrate with your exiting PSP, we’re required to run a quic
            <!--section-->
        </div>
          <!--card-->

        </div>
      <!--wrapper-->
          <footer>

              <nav class="footer">
@ -658,7 +659,7 @@ If you choose to integrate with your exiting PSP, we’re required to run a quic
                </h4>
                <ul>
                    <li><a href="developers.html">Basic concepts</a></li>
                    <li><a href="quickstart.html">Quick start</a></li>
                    <li><a href="sandbox.html">Sandbox</a></li>
                    <li><a href="https://nomo.io/docs" target="_blank">API Docs</a></li>
                    <li><a href="https://nomo-engineering.slack.com/join/shared_invite/enQtMTkyNjU1NDIyNzA2LTU1ZGUyMDI4Njc4NWY5ZDZhOTgyYTM3M2RiZDRlZjMyZjJmNzY5NjMzZWUzODk4MTkxZjQ0OTM3M2VjMjk0MjI">NOMO Slack</a></li>
                </ul>
@ -691,7 +692,6 @@ If you choose to integrate with your exiting PSP, we’re required to run a quic
            <button onclick="out()">Close</button>
          </div>

        </div>
      <!--wrapper-->

    </body>
</html>
