
<!DOCTYPE html >
<html lang="en">
<head>
  <link type="text/css" href="styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>NOMO - Landing pages UI</title>
  </head>
  <body>
    <script src="cookies.js"></script>
    <script src="menu.js"></script>
      <div class="mobile" id="mobile-menu">
        <div class="menu">
          <button class="hamburger x" onclick="off()">
	&#10005;
      </button>
      <nav class="mobile">
        <a href="nomo.html"> Nomo </a>
        <a href="features.html"> Features </a>
        <a href="developers.html">Developers</a>
        <a href="contact.html">Contact</a>
        </nav>
        </div>

      </div>
    <header>
      <div class="menu">
<button class="hamburger 3 lines" onclick="on()">
	&#9776;
      </button>
      </div>
      <div class="logo">
      <a href="">

      </a>
    </div>
    <nav class="mainnav">

      <a href="features.html"> Features </a>
      <a href="developers.html">Developers</a>
      <a href="contact.html">Contact</a>
    </nav>
    </header>

      <div class="wrapper">
        <div class="card">
          <section class="gridwrapper1">

          </section>
            <!--section-->
        </div>
          <!--card-->

          <footer>

              <nav class="footer">
              <div>
                <h4>
                NOMO
                </h4>
                <ul>
                    <li><a href="nomo.html">Home</a></li>
                    <li><a href="features.html">Features</a></li>
                    <li><a href="https://helpy.nomo.io/en">Help</a></li>
                    <li><a href="https://nomo.blog/">Blog</a></li>
                </ul>
              </div>
              <div>
                <h4>
                Developers
                </h4>
                <ul>
                    <li><a href="overview.html">Basic concepts</a></li>
                    <li><a href="overview.html">Quick start</a></li>
                    <li><a href="https://nomo.io/docs">API Docs</a></li>
                    <li><a href="https://nomo-engineering.slack.com/join/shared_invite/enQtMTkyNjU1NDIyNzA2LTU1ZGUyMDI4Njc4NWY5ZDZhOTgyYTM3M2RiZDRlZjMyZjJmNzY5NjMzZWUzODk4MTkxZjQ0OTM3M2VjMjk0MjI">NOMO Slack channel</a></li>
                </ul>
              </div>
              <div>
                <h4>
                  Legal
                </h4>
                <ul>
                    <li><a href="https://nomo.io/legal/privacy-statement.pdf">Privacy Statement</a></li>
                    <li><a href="https://nomo.io/legal/terms-of-service.pdf">Terms of Service</a></li>
                    <li><a href="https://nomo.io/legal/use-of-cookies.pdf">Use of Cookies</a></li>
                    <li><a href="https://nomo.io/legal/platform-processing-terms.pdf">Platform Processing Terms</a></li>
                </ul>
              </div>

              </nav>
              <div class="disclaimer">

                <div class="Docomo"><p>NOMO is a product provided by <a href='https://www.docomodigital.com/'>DOCOMO Digital Ltd </a> who is part
        of <a href="https://www.nttdocomo.co.jp">NTT DOCOMO</a>, <a href="http://www.ntt.co.jp/activity/en/global/">NTT Group</a> and DOCOMO Digital </p></div>
            <div class="cc"> <p>Powered by <a class="cc" href="https://www.currencycloud.com/">Currency Cloud</a> </p></div>
              </div>
          </footer>

          <div id="cookies">
            <p>This website uses cookies to provide you with a personalised browsing experience.
               By using this site you agree to our <a href="">Use of Cookies</a> as explanined in our <a href="">Privacy Statement </a>.
               Please read our <a href="">Use of Cookies </a>for more information on how we use cookies and how you can manage them. </p>
            <button onclick="out()">Close</button>
          </div>

        </div>
      <!--wrapper-->
    </body>
</html>
