<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="styles-db.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"><head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta drescription="NOMO UI">
  <title>NOMO - Landing pages UI</title>
    <body>
    <script src="menu.js"></script>
      <div class="mobile" id="mobile-menu">
        <div class="menu">
          <button class="hamburger" onclick="off()">

  <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


      <defs></defs>
      <g id="desk" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Contact-thankyou" transform="translate(-325.000000, -146.000000)">
              <g id="Group-3" transform="translate(325.000000, 146.000000)">
                  <circle id="Oval-3" fill="#17D6D8" cx="23" cy="23" r="23"></circle>
                  <g id="Group" transform="translate(16.000000, 16.000000)" fill="#FFFFFF" fill-rule="nonzero">
                      <g id="Group-2">
                          <path d="M-1.03921356,1.78921356 C-1.82026215,1.00816498 -1.82026215,-0.258164979 -1.03921356,-1.03921356 C-0.258164979,-1.82026215 1.00816498,-1.82026215 1.78921356,-1.03921356 L15.7903296,12.9619025 C16.5713782,13.742951 16.5713782,15.009281 15.7903296,15.7903296 C15.009281,16.5713782 13.742951,16.5713782 12.9619025,15.7903296 L-1.03921356,1.78921356 Z" id="Line"></path>
                          <path d="M12.9619025,-1.03921356 C13.742951,-1.82026215 15.009281,-1.82026215 15.7903296,-1.03921356 C16.5713782,-0.258164979 16.5713782,1.00816498 15.7903296,1.78921356 L1.78921356,15.7903296 C1.00816498,16.5713782 -0.258164979,16.5713782 -1.03921356,15.7903296 C-1.82026215,15.009281 -1.82026215,13.742951 -1.03921356,12.9619025 L12.9619025,-1.03921356 Z" id="Line"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
      </button>
      <nav class="mobile">
        <div class="companylogo">Supermarketplace
        </div><div class="sandbox">Sandbox</div>
          <a href="index.html"> Landing UI </a>
          <a class="active" href="">Payments</a>
          <a href="menu1"> Item1 </a>
          <a href="menu1"> Item1 </a>
          <a href="menu1"> Item1 </a>
          <a href="menu1"> Item1 </a>
        </nav>
        </div>

      </div>
      <div class="db-grid">
        <header>
          <div class="menu">
  <button class="hamburger" onclick="on()">
            <svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


                <defs></defs>
                <g id="desk" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Contact-thankyou" transform="translate(-425.000000, -146.000000)">
                        <circle id="Oval-3" fill="#17D6D8" cx="448" cy="169" r="23"></circle>
                        <g id="Group" transform="translate(438.000000, 162.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g id="Group-2">
                                <path d="M0,2 C-1.1045695,2 -2,1.1045695 -2,0 C-2,-1.1045695 -1.1045695,-2 0,-2 L19.8005682,-2 C20.9051377,-2 21.8005682,-1.1045695 21.8005682,0 C21.8005682,1.1045695 20.9051377,2 19.8005682,2 L0,2 Z" id="Line"></path>
                                <path d="M0,9 C-1.1045695,9 -2,8.1045695 -2,7 C-2,5.8954305 -1.1045695,5 0,5 L19.8005682,5 C20.9051377,5 21.8005682,5.8954305 21.8005682,7 C21.8005682,8.1045695 20.9051377,9 19.8005682,9 L0,9 Z" id="Line"></path>
                                <path d="M0,16 C-1.1045695,16 -2,15.1045695 -2,14 C-2,12.8954305 -1.1045695,12 0,12 L19.8005682,12 C20.9051377,12 21.8005682,12.8954305 21.8005682,14 C21.8005682,15.1045695 20.9051377,16 19.8005682,16 L0,16 Z" id="Line"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </button>
          </div>
          All details</header>
      <div class="sidebar">
        <div class="companylogo">Supermarketplace
        </div><div class="sandbox">Sandbox</div>
          <nav>
              <a href="index.html"> Landing UI </a>
              <a class="active" href=""> Payments </a>
              <a href="menu1"> Item1 </a>
              <a href="menu1"> Item1 </a>
              <a href="menu1"> Item1 </a>
              <a href="menu1"> Item1 </a>
            </nav>
      </div>
      <div class="main">
        <div class="breadcrumbs"><a href="dashboard.html">Payments</a> &#62; <a href="history.html">Payment history
        </a> &#62; All details </div>
        <div class="card">
      <div class="subnav">

      <button><a href="history.html"> &larr; Payment history  </a></button>
    </div>
    <section class="groupedbydate">
    <h3>Refund details</h3>
              <ul class="learnmore">
                <li>Created
                <div class="data">24.11.2017 15:06</div>
                </li>
                <li>Updated
                <div class="data">n/a </div>
                </li>
                <li>Amount
                <div class="data">&euro;18.00</div>
                </li>
                  <h4> Customer</h4>
                <li>Transaction-1 ID
                <div class="data">
DBMrfJWpWLgeQllasdfad </div>
                </li>
                <li>State
                <div class="data">Completed</div>
                </li>
                <li>Refunded to
                <div class="data">MasterCard -1234 </div>
                </li>
                <li>Account
                <div class="data">Hulk Hogan </div>
                </li>
                <li>Account ID
                <div class="data">d98a8f9arf89af89aef</div>
                </li>
                <li>Wallet ID
                <div class="data">98a8sdfd8daf</div>
                </li>
                <li>Balance before
                <div class="data">&euro;180.00
                </div>
                </li>
                <li>Balance after
                <div class="data">&euro;162.00
                </div>
                </li>
                  <h4> Your business</h4>
                <li>Transaction-2 ID

                <div class="data">DBMrfJWpWLgeQlll1232
                </div>
                </li>
                <li>State

                <div class="data">Completed
                </div>
                </li>
                <li>Account
                <div class="data">Supermarketplace
                </div>
                </li>
                <li>Account ID
                <div class="data">d98a889af89aefAAA
                </div>
                </li>
                <li>Wallet ID
98a8sdfd8dasdafasff
                <div class="data">98a8sdfd8dasdafasff
                </div>
                </li>
                <li>Balance before

                <div class="data">&euro;1,020.00    </div>
                </li>
                <li>Balance after

                <div class="data">
&euro;1,002.00
                </div>
                </li>
        </section>
<div class="subnav">
              <button>  <a href="history.html"> &larr; Payment history  </a></button>
              </div>



              <!--end of modal card-->
        </div>
        <!--End of wrapper-->
      </div>
    </body>
</html>
