<!DOCTYPE html>
<html>
   <head>
      <link type="text/css" href="styles-db.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta drescription="NOMO UI">
      <title>NOMO - Landing pages UI</title>
   </head>
   <body>
      <script src="menu.js"></script>
      <div id="mobile-menu">
         <div class="menu">
            <button class="hamburger x" onclick="off()">
            &#10005;
            </button>
            <nav class="mobile">
               <div class="companylogo">Supermarketplace  <span class="sandbox">Sandbox</span>
               </div>
               <a href="overview.html"> Overview </a>
               <a class="active" href="dashboard.html">Payments</a>
            </nav>
         </div>
      </div>
      </div>
      <div class="db-grid">
         <header>
            <div class="menu">
               <button class="hamburger 3 lines" onclick="on()">
               &#9776;
               </button>
            </div>
            All details
         </header>
         <div class="sidebar">
            <div class="companylogo">Supermarketplace
            </div>
            <div class="sandbox">Sandbox</div>
            <nav>
               <a href="overview.html"> Overview </a>
               <a class="active" href="dashboard.html">Payments</a>
            </nav>
         </div>
         <div class="main">
            <div class="breadcrumbs"><a href="dashboard.html">Payments</a> &#62; <a href="history.html">Payment history
               </a> &#62; All details
            </div>
            <div class="card">
               <div class="subnav">
                  <button>  <a href="history.html"> &larr; Go back  </a></button>
               </div>
               <section class="groupedbydate notimeline">
                  <h3>Payment details</h3>
                  <ul class="learnmore">
                  <li>
                     Cart ID
                     <div class="data">IDDBMrLmCHZG5zYZq2V </div>
                  </li>
                  <li>
                     Created
                     <div class="data">23.11.2018 15:06 </div>
                  </li>
                  <li>
                     Updated
                     <div class="data">n/a </div>
                  </li>
                  <li>
                     Buyer
                     <div class="data">Hulk Hogan </div>
                  </li>
                  <li>
                     Description
                     <div class="data">1232323 </div>
                  </li>
                  <li>
                     Amount
                     <div class="data">&euro;210.00 </div>
                  </li>
                  <li>
                     Payment method
                     <div class="data">MasterCard -1234 </div>
                  </li>
                  <li>
                     PSP
                     <div class="data">DDPS </div>
                  </li>
                  <li>
                     PSP Tx ID
                     <div class="data">2389328498324</div>
                  </li>
                  <li>
                     PSP fee
                     <div class="data">&euro;10.00    </div>
                  </li>
               </section>
               <section class="groupedbydate notimeline">
                  <h3>Cart details</h3>
                  <ul class="learnmore">
                  <li>
                     Cart ID
                     <div class="data">IDDBMrLmCHZG5zYZq2V </div>
                  </li>
                  <li>
                     Number of lines
                     <div class="data">This Cart consists of 1 Line Item</div>
                  </li>
                  <li>
                     Line Item ID
                     <div class="data">IDDBMrLmCHZG5z1222 </div>
                  </li>
                  <li>
                     Line Item Description
                     <div class="data">Freezer</div>
                  </li>
               </section>
               <section class="groupedbydate notimeline">
                  <h3>Split details</h3>
                  <h4> Seller commission</h4>
                  <ul class="learnmore">
                  <li>
                     Transaction-1 ID
                     <div class="data">DBMrfJWpWLgeQlllss2B</div>
                  </li>
                  <li>
                     Amount
                     <div class="data">&euro;180.00 </div>
                  </li>
                  <li>
                     Extras
                     <div class="data">Auto Payout activated</div>
                  </li>
                  <li>
                     Account
                     <div class="data">Hulk Hogan </div>
                  </li>
                  <li>
                     Account ID
                     <div class="data">d98a8f9arf89af89aef</div>
                  </li>
                  <li>
                     Wallet ID
                     <div class="data">98a8sdfd8daf </div>
                  </li>
                  <li>
                     Balance before
                     <div class="data">&euro;0.00 </div>
                  </li>
                  <li>
                     Balance after
                     <div class="data">&euro;180.00</div>
                  </li>
                  <h4> Net revenue</h4>
                  <li>
                     Transaction-2 ID
                     <div class="data">DBMrfJWpWLgeQlll1232 </div>
                  </li>
                  <li>
                     Amount
                     <div class="data">&euro;20.00</div>
                  </li>
                  <li>
                     State
                     <div class="data">Completed</div>
                  </li>
                  <li>
                     Account
                     <div class="data">Supermarketplace</div>
                  </li>
                  <li>
                     Account ID
                     <div class="data">d98a889af89aefAAA</div>
                  </li>
                  <li>
                     Wallet ID
                     <div class="data">98a8sdfd8dasdafasff</div>
                  </li>
                  <li>
                     Balance before
                     <div class="data">&euro;1,000.00</div>
                  </li>
                  Balance after
                  <div class="data">&euro;1,020.00</div>
                  </li>
               </section>
               <div class="subnav">
                  <button>  <a href="history.html"> &larr; Go back  </a></button>
               </div>
            </div>
            <!--end of modal card-->
         </div>
         <!--End of wrapper-->
      </div>
   </body>
</html>
