<!DOCTYPE html>
<html>
   <head>
      <link type="text/css" href="styles-db.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta drescription="NOMO UI">
      <title>NOMO - Landing pages UI</title>
   </head>
   <body>
      <script src="menu.js"></script>
      <div id="mobile-menu">
         <div class="menu">
            <button class="hamburger x" onclick="off()">
            &#10005;
            </button>
            <nav class="mobile">
               <div class="companylogo">Supermarketplace  <span class="sandbox">Sandbox</span></div>
               <a class="active" href="overview.html"> Overview </a>
               <a href="dashboard.html">Payments</a>
            </nav>
         </div>
      </div>
      </div>
      <div class="db-grid">
         <header>
            <div class="menu">
               <button class="hamburger 3 lines" onclick="on()">
               &#9776;
               </button>
            </div>
            Overview
         </header>
         <div class="sidebar">
            <div class="companylogo">Supermarketplace
            </div>
            <div class="sandbox">Sandbox</div>
            <nav>
               <a class="active" href="overview.html"> Overview </a>
               <a  href="dashboard.html">Payments</a>
            </nav>
         </div>
         <div class="main">
            <div class="card earned">
               <div class="calendar">
                  <a href="" class="active">All time</a>
                  <a href="">Week</a>
                  <a href="">Month</a>
                  <a href="">Quarter</a>
                  <a href="">Year</a>
               </div>
               Total commission
               <div class="hugekpi">&euro;6,000,000.00</div>
            </div>
            <!--end of wrapper-->
         </div>
         <footer></footer>
      </div>
   </body>
</html>
