<!DOCTYPE html >
<html lang="en">
   <head>
      <link type="text/css" href="styles.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <title>NOMO - Landing pages UI</title>
   </head>
   <body>
      <script src="cookies.js"></script>
      <script src="menu.js"></script>
      <div class="mobile" id="mobile-menu">
         <div class="menu">
            <button class="hamburger x" onclick="off()">
            &#10005;
            </button>
            <nav class="mobile">
               <a href="nomo.html"> Nomo </a>
               <a href="features.html"> Features </a>
               <a href="developers.html">Developers</a>
               <a href="contact.html">Contact</a>
            </nav>
         </div>
      </div>
      <header>
         <div class="menu">
            <button class="hamburger 3 lines" onclick="on()">
            &#9776;
            </button>
         </div>
         <div class="logo">
            <a href="nomo.html">
            </a>
         </div>
         <nav class="mainnav">
            <a href="nomo.html"> Nomo </a>
            <a href="features.html"> Features </a>
            <a href="developers.html">Developers</a>
            <a href="contact.html">Contact</a>
         </nav>
      </header>
      <main class="wrapper">
         <div class="card">
            <section class="gridwrapper1">
               <article>
                  <h1>PSD2</h1>
                  <p>If you’re a marketplace or platform that handles third party payments then you may or may not have heard about PSD2.
                     You may have even tried to read the numerous reports and whitepapers out there which try to explain it in ‘simple terms’. Here’s a simple summary which gets straight to the point
                  </p>
                  <h2>What is PSD2?</h2>
                  <p>The European Union has designed a second Payment Services Directive which aims to transform the payment industry. It will come into play beginning of 2018 and focuses on enhancing security on payments and supporting innovative banking methods.
                     The new regulation addresses a number of different areas within the payment landscape however the most important aspect relating to marketplaces is the way the law will view their business.
                     A marketplace is acting as an agent between the buyer and the seller. They often also facilitate the payment between the two parties; accepting the funds from the buyer and then distributing them to the seller. As the marketplace is handling funds that do not belong to them, once PSD2 comes in to play they will be viewed as an intermediary of payments. This means they need to hold a licence which can cost more than €200,000 and take up to 18 months to be granted.
                  </p>
                  <h2>What options are there for marketplaces?</h2>
                  <p>
                     If you’re a marketplace your business focus is most likely to try and grow your customer base and increase sales. Not payments. The mountain you would have to climb to become a financial institution whilst trying to grow simultaneously is daunting and rightly so. There is another way…
                     Partnering with a licensed payments business can not only save you money on operational costs, but also allow you to comply with PSD2. By using a safeguarded escrow account to hold the client funds, your buyers are protected. The NOMO API provides such a service whilst also allowing you to customise the payout process to suit the needs of your business. You can hold the funds on the escrow for as long as you like and even create a free transaction network on your platform if you wanted to.
                     NOMO is PSP agnostic which means there’s no need to change your existing provider and you can be up and running in no time.
                     For more information contact a member of the team today by filling in our <a href="contact.html">contact form.</a>
                  </p>
               </article>
               <div>
                  <figure class="article">
                     <!--animation3in-->
                     <svg width="450px" height="442px" viewBox="0 0 420 442" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="desk" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                           <g id="animation3" transform="translate(-39.000000, -28.000000)">
                              <g id="Group" transform="translate(39.000000, 29.000000)">
                                 <g id="moon" transform="translate(329.000000, 319.000000)">
                                    <circle id="Oval-18" fill="#F0F6F8" cx="39.5" cy="39.5" r="39.5"></circle>
                                    <circle id="Oval-19" fill="#D9E3E6" cx="58.5" cy="47.5" r="7.5"></circle>
                                    <circle id="Oval-19" fill="#D9E3E6" cx="29.5" cy="52.5" r="4.5"></circle>
                                 </g>
                                 <g id="rocket2" transform="translate(221.000000, 164.500000) rotate(-360.000000) translate(-221.000000, -164.500000) translate(93.000000, 64.000000)">
                                    <path d="" id="Path-14" stroke="#979797" stroke-width="0.833333333" transform="translate(115.683013, 97.683013) rotate(-30.000000) translate(-115.683013, -97.683013) "></path>
                                    <path d="" id="Path-14" stroke="#979797" stroke-width="0.833333333" transform="translate(169.683013, 73.683013) rotate(-30.000000) translate(-169.683013, -73.683013) "></path>
                                    <path d="" id="Path-14" stroke="#979797" stroke-width="0.833333333" transform="translate(114.683013, 129.683013) rotate(-30.000000) translate(-114.683013, -129.683013) "></path>
                                    <polygon id="Path-15" fill="#002936" fill-rule="nonzero" transform="translate(88.007101, 105.010845) rotate(-30.000000) translate(-88.007101, -105.010845) " points="51.38958 102.584079 131.671056 130.162554 131.017615 132.056875 44.6710559 102.394909 131.071651 78.0568752 131.61702 79.9849506"></polygon>
                                    <path d="M114.464498,66.3791651 C117.992284,70.5391272 120.085587,76.7779053 120.744408,85.0954997 C121.403229,93.413094 120.603658,103.507649 118.345696,115.379165 L110.5833,115.379165 C108.337292,103.356721 107.537722,93.2621663 108.184588,85.0954997 C108.831454,76.928833 110.924758,70.6900548 114.464498,66.3791651 Z" id="flame" fill="#17D6D8" transform="translate(114.467622, 90.879165) scale(-1, -1) rotate(60.000000) translate(-114.467622, -90.879165) "></path>
                                    <path d="M180.109541,104.33468 C179.560399,91.0035238 168.363209,80.3611441 154.630644,80.3611441 C140.898079,80.3611441 129.700888,91.0035238 129.151747,104.33468 L127.95754,104.334688 L111.791968,58.495295 L154.113983,30.1649917 L196.435998,58.495295 L180.270427,104.334688 L180.109541,104.334688 Z" id="Combined-Shape" fill="#002936" transform="translate(154.277428, 67.194364) rotate(60.000000) translate(-154.277428, -67.194364) "></path>
                                    <path d="M187.081152,-19.0945554 C177.583267,-7.46364119 171.947451,9.97947333 170.173702,33.2347881 C168.399953,56.4901029 170.552643,84.713655 176.631773,117.905445 L197.530531,117.905445 C203.577475,84.2916736 205.730165,56.0681214 203.988602,33.2347881 C202.247039,10.4014548 196.611222,-7.04165974 187.081152,-19.0945554 Z" id="Polygon" fill="#002936" transform="translate(187.072740, 49.405445) rotate(60.000000) translate(-187.072740, -49.405445) "></path>
                                    <circle id="Oval-11" fill="#FFFFFF" transform="translate(214.879165, 32.879165) rotate(60.000000) translate(-214.879165, -32.879165) " cx="214.879165" cy="32.8791651" r="6.5"></circle>
                                    <circle id="Oval-11" fill="#FFFFFF" transform="translate(195.879165, 43.879165) rotate(60.000000) translate(-195.879165, -43.879165) " cx="195.879165" cy="43.8791651" r="6.5"></circle>
                                    <path d="M150.219272,62.3870042 C151.770728,62.3870042 152.414166,63.0497939 153.527246,63.8908678 L156.648093,66.4553544 C157.408029,67.1278629 157.948776,67.3795956 158.506507,67.3795956 C159.132486,67.3795956 159.568481,67.0031119 159.624508,66.4309777 L159.634189,62.2475953 L161.870191,62.2501445 L161.870191,66.4505746 C161.840987,68.6803205 160.567126,70.1081864 158.521109,70.1081864 C156.969653,70.1081864 156.195115,69.3453408 155.082035,68.5044263 L153.722309,67.354263 L152.092288,66.0398362 C151.332352,65.3674869 150.791605,65.1155949 150.233874,65.1155949 C149.607895,65.1155949 149.1719,65.4920787 149.115873,66.0642128 L149.106192,70.2475953 L146.870191,70.2450461 L146.870191,66.0446159 C146.899394,63.81487 148.173255,62.3870042 150.219272,62.3870042 Z" id="Fill-1" fill="#FFFFFF" transform="translate(154.370191, 65.997595) rotate(-30.000000) translate(-154.370191, -65.997595) "></path>
                                    <g id="market" transform="translate(0.000000, 114.000000)">
                                       <path d="M76.2920592,43.8986157 L70.3237282,86.3654978 L0.0146952964,76.4842076 L6.08894996,33.26364 C8.21190205,34.8026783 10.9105039,35.5533777 13.7121809,35.1596277 C18.0296127,34.5528522 21.362634,31.4010653 22.4080567,27.4336559 L22.648678,29.1457656 C23.4557414,34.8883202 28.7652558,38.8893262 34.5078103,38.0822628 C38.8252422,37.4754873 42.1582635,34.3237004 43.2036861,30.356291 L43.4443075,32.0684008 C44.2513709,37.8109553 49.5608852,41.8119613 55.3034397,41.0048979 C59.6208716,40.3981224 62.9538929,37.2463356 63.9993156,33.2789261 L64.2399369,34.9910359 C65.0470003,40.7335904 70.3565147,44.7345965 76.0990692,43.9275331 C76.1636207,43.9184609 76.2279522,43.9088199 76.2920592,43.8986157 Z" id="Combined-Shape" fill="#002936"></path>
                                       <rect id="Rectangle-37" fill="#FFFFFF" transform="translate(19.083788, 62.450995) rotate(8.000000) translate(-19.083788, -62.450995) " x="11.3837884" y="51.9696289" width="15" height="21" rx="1.48262548"></rect>
                                       <rect id="Rectangle-38" fill="#FFFFFF" transform="translate(48.015665, 67.425207) rotate(8.000000) translate(-48.015665, -67.425207) " x="33.3156649" y="56.9438406" width="29" height="21" rx="1.48262548"></rect>
                                       <path d="M65.748442,5.69442531 L86.748442,5.69442531 L86.748442,26.1944253 C86.748442,31.9934152 82.0474318,36.6944253 76.248442,36.6944253 C70.4494521,36.6944253 65.748442,31.9934152 65.748442,26.1944253 C65.748442,31.9934152 61.0474318,36.6944253 55.248442,36.6944253 C49.4494521,36.6944253 44.748442,31.9934152 44.748442,26.1944253 C44.748442,31.9934152 40.0474318,36.6944253 34.248442,36.6944253 C28.4494521,36.6944253 23.748442,31.9934152 23.748442,26.1944253 C23.748442,31.9934152 19.0474318,36.6944253 13.248442,36.6944253 C7.44945208,36.6944253 2.74844195,31.9934152 2.74844195,26.1944253 L2.74844195,5.69442531 L23.748442,5.69442531 L44.748442,5.69442531 L65.748442,5.69442531 Z" id="Combined-Shape" fill="#002936" transform="translate(44.748442, 21.194425) rotate(8.000000) translate(-44.748442, -21.194425) "></path>
                                    </g>
                                 </g>
                                 <g id="stars" transform="translate(6.000000, 130.000000)" opacity="0.3" stroke="#002936" stroke-linecap="square">
                                    <path d="M120,253 L162,229" id="Line-2"></path>
                                    <path d="M237,174 L279,150" id="Line-2"></path>
                                    <path d="M195,310 L237,286" id="Line-2"></path>
                                    <path d="M248,115 L290,91" id="Line-2"></path>
                                    <path d="M372,24 L414,0" id="Line-2"></path>
                                    <path d="M0,186 L42,162" id="Line-2"></path>
                                 </g>
                                 <g id="stars" opacity="0.3" stroke="#002936" stroke-linecap="square">
                                    <path d="M6,154 L48,130" id="Line-2"></path>
                                    <path d="M233,37 L275,13" id="Line-2"></path>
                                    <path d="M84,24 L126,0" id="Line-2"></path>
                                    <path d="M95,75 L137,51" id="Line-2"></path>
                                    <path d="M0,75 L42,51" id="Line-2"></path>
                                 </g>
                              </g>
                           </g>
                        </g>
                     </svg>
                  </figure>
               </div>
            </section>
            <!--section-->
         </div>
         <!--card-->
      </main>
      <!--wrapper-->
      <footer>
         <nav class="footer">
            <div>
               <h4>
                  NOMO
               </h4>
               <ul>
                  <li><a href="nomo.html">Home</a></li>
                  <li><a href="features.html">Features</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="https://helpy.nomo.io/en">Help</a></li>
                  <li><a href="https://nomo.blog/">Blog</a></li>
               </ul>
            </div>
            <div>
               <h4>
                  Developers
               </h4>
               <ul>
                  <li><a href="developers.html">Basic concepts</a></li>
                  <li><a href="sandbox.html">Sandbox</a></li>
                  <li><a href="https://nomo.io/docs" target="_blank">API Docs</a></li>
                  <li><a href="https://nomo-engineering.slack.com/join/shared_invite/enQtMTkyNjU1NDIyNzA2LTU1ZGUyMDI4Njc4NWY5ZDZhOTgyYTM3M2RiZDRlZjMyZjJmNzY5NjMzZWUzODk4MTkxZjQ0OTM3M2VjMjk0MjI">NOMO Slack</a></li>
               </ul>
            </div>
            <div>
               <h4>
                  Legal
               </h4>
               <ul>
                  <li><a href="https://nomo.io/legal/privacy-statement.pdf">Privacy Statement</a></li>
                  <li><a href="https://nomo.io/legal/terms-of-service.pdf">Terms of Service</a></li>
                  <li><a href="https://nomo.io/legal/use-of-cookies.pdf">Use of Cookies</a></li>
                  <li><a href="https://nomo.io/legal/platform-processing-terms.pdf">Platform Processing Terms</a></li>
               </ul>
            </div>
         </nav>
         <div class="disclaimer">
            <div class="Docomo">
               <p>NOMO is a product provided by <a href='https://www.docomodigital.com/'>DOCOMO Digital Ltd </a>
                  . Powered by <a class="cc" href="https://www.currencycloud.com/">Currency Cloud</a>
               </p>
            </div>
         </div>
      </footer>
      <div id="cookies">
         <p>This website uses cookies to provide you with a personalised browsing experience.
            By using this site you agree to our <a href="">Use of Cookies</a> as explanined in our <a href="">Privacy Statement </a>.
            Please read our <a href="">Use of Cookies </a>for more information on how we use cookies and how you can manage them.
         </p>
         <button onclick="out()">Close</button>
      </div>
   </body>
</html>
