
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*comps*/
* {
    box-sizing: border-box;
}
a{
color:rgba(23, 214, 216,1);
font-weight: 700;
text-decoration: none;
}
a:hover{
color:rgba(23, 214, 216,0.6);
transition: color 0.2s;
}
a:active{
color:rgba(23, 214, 216,03);
}
a:visited{
color:rgba(23, 214, 216,1);
}
a.logo{
color: white;
text-transform: uppercase;
}
body {
	background-color:#fafafa;
	color: rgba(0,41,54,1);
	font-family:'Montserrat',helvetica,arial,sans-serif;
	font-size: 18px;
	margin: auto;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
button {
  border-radius: 5px;
  border: none;
  box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: bold;
  margin:20px 0 20px 0;
  min-width: 150px;
  outline: none;
  padding: 10px;
  text-align: center;
  width: 100%;

}
button.primary {
  background-color:rgba(23, 214, 216,1);
  color: #fff;
}

button.secondary {
  background:#fff;
  color: rgba(0,41,54,1);

}
button:hover {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  transform: scale(0.9);
  height: 95%;
  transition: transform 0.2s;
  transition-timing-function: ease-in-out;
}

.card {
  background:#fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin: 20px 0;
  padding: 40px;

}

ul.features li{
	display: inline-block;
  width: 25%;
  padding: 20px;
}

.error {
	border: 1px solid #EF8368;
}
input.error {
	margin-bottom: 0;

}
.error::placeholder {
	color:#EF8368;
}


p.errormsg {
	font-size:14px;
	color:#EF8368;
	margin-bottom:20px;

}

figure{
  margin: 0;
  padding: 0;
}

footer a{
  color: #fff;
  font-size: 14px;
}
header,footer{
  background-color: rgba(0,41,54,1);
  color: #fff;
  padding: 40px 40px 40px 80px;

}

h1 {
  font-size:48px;
}

h2 {
  font-size:36px;
}

h3 {
  font-size:28px;
}

h3 {
  font-size:20px;
}

h1,h2,h3,h4{
  margin-bottom: 40px;
  font-weight: 700;
}

input,textarea {
	font-family: "Montserrat",helvetica,arial,sans-serif;
  background-color: #F0F6F8;
  border: 1px solid #fff;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 20px;
  outline: none;
  width: 100%;
}
input:hover,textarea:hover {
  background-color: #FFF;
  border: 1px solid rgba(0,41,54,0.1);
}

.maincolorblue{
	background-color:rgba(0,41,54,1);
	color: white;
	font-size: 18px;
	display: block;
	padding: 20px;
	margin: 20px;

}
.maincolorgreen{
	background-color: rgba(23, 214, 216,1);
	color: white;
	font-size: 18px;
	display: block;
	padding: 20px;
	margin: 20px;

}
.modalbuttons .primary, .modalbuttons .secondary {
		display: inline-block;
		width: 47%;
}
.modalbuttons .primary{
		margin-left: 20px;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}



.overlay {
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	position: relative;
}

@keyframes loading {
		from {opacity:0;}
		to {opacity:1;}
}

.loading{
	animation-name:loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-delay: 1s;
}

.loader {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.modal {
	background: white;
	padding:20px;
	margin:20px;
	border-radius: 5px;
	min-width: 200px;
}

.modal h3 {
	margin-bottom: 10px;
}

p {
  padding:20px 0;
}

::placeholder {
	color: rgba(0,41,54,0.4);
}

section {
  margin: 40px 0;
}

.special {
	padding: 0;
}

.wrapper {
  padding: 80px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.path {
  stroke-dasharray: 2000;
  animation: path 3s ease alternate infinite;
}

@keyframes path {
  to {
    stroke-dashoffset: 2000;
  }
}

/*Experimental*/

.gridwrapper1 {
	display: inline-grid;
	grid-template-columns: auto auto auto;
  grid-gap: 20px;
	width: 100%;
	align-content: center;
}




/*If the browser window is 600px or smaller*/
@media only screen and (max-width: 667px) {
	body {
		font-size: 16px;
	}

	.modalbuttons .primary, .modalbuttons .secondary {
			display: block;
			width: 100%;
	}
	.modalbuttons .primary{
			margin-left: 0;
	}

	button {
	  margin-bottom: 20px;

	}

	h1 {
	  font-size:36px;
	}

	h2 {
	  font-size:24px;
	}

	h3 {
	  font-size:20px;
	}

	h3 {
	  font-size:16px;
	}
	.wrapper {
		padding:40px;
	}
	.card {
		padding:20px;
		overflow: hidden;
	}

	.special {
		padding: 0;
	}

	input,textarea {
		padding:15px;
	}

	.gridwrapper1 {
		grid-template-columns: repeat(auto-fit, 100%);
		text-align: center;
	}

.features {
	text-align: center;
}

	ul.features li {
	padding:10px;
	display: block;
	width: 100%;
}



}
