
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
	background-color: #f1f1f1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*dashboard grid*/
header { grid-area: header;}
.sidebar { grid-area: menu;}
.main { grid-area: main; }
footer { grid-area: footer;}

.db-grid {
	display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
	grid-template-columns: 20% 80%;
}
/*end dashboard grid*/


body {
	color: rgba(0,41,54,1);
	font-family:'Open sans',helvetica,arial,sans-serif;
	margin: auto;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow: auto;
}
.companylogo
{
color: white;
font-weight: 700;
margin-bottom: 10px;
font-size: 14px;
word-break: break-word;

}

.sandbox {
	background-color: rgba(23, 214, 216,1);
	font-size:12px;
	font-weight: 700;
	width: 60px;
	text-align:center;
	margin-bottom: 40px;
	border-radius: 2px;
	padding:2px;
}


header{
background-color: #fafafa;
font-weight:700;
font-size: 20px;
padding:20px;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
z-index: 99;
}

.main {
		padding:20px;

}

.groupedbydate {
	padding: 0 0 20px 0;
	border-left:1px solid rgba(0,41,54,1);

}

.groupedbydate.notimeline {

	border-left: none;
}

.groupedbydate .date {
	background: rgba(0,41,54,1);
	color: #fff;
	max-width:190px;
	border-radius: 0 10px 10px 0;
	padding: 1px;
	text-align:center;
	font-weight: 700;
}

.groupedbydate:last-of-type{
	border-bottom: none;
}


.date
{font-size: 12px;
color:rgba(0,41,54,0.5);
margin-bottom: 10px;
}

.tinytitle {
	font-size: 12px;
}
.bignumber {
	font-size: 32px;
}
.amount {
	font-size: 18px;
	text-align: right;
}

.sidebar {
	background-color:rgba(0,41,54,1);
	padding:20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	z-index: 100;
}
.sidebar a {
	display:block;
	margin-bottom: 20px;

}

.sidebar a.active {
	color: white
}

.card {
  background:#fafafa;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin: 10px;
  padding: 20px;
	overflow:auto;

}

.transaction {

	border-bottom:1px solid rgba(0,41,54,0.1);
}

.description
{display: grid;
grid-template-columns: 10% 55% 30%;
justify-content: center;
align-items: center;
grid-gap: 2%;
padding: 10px;
}

.description p {
width:100%;
margin:0;
}

.mastercard{
background-image: url("svg/mastercard.svg");
}

.cart {
	background-image: url("svg/cart.svg");

}

.psp{
	background-image: url("svg/psp.svg");

}

.comm{
	background-image: url("svg/comm.svg");

}


.refundcomm{
	background-image: url("svg/refundcomm.svg");

}

.refund{
	background-image: url("svg/refund.svg");

}


.earnings{
	background-image: url("svg/earnings.svg");

}


.bank{
	background-image: url("svg/bank.svg");

}


.icon{
background-repeat: no-repeat;
background-position: center;
justify-content: center;
align-items: center;
display: flex;
height:40px;
}


.euro {
	background-image: url("svg/euro.svg");
}


.morelink {
	display: block;
	padding:20px;
}

.prev {
	font-size: 12px;
	color:rgba(0,41,54,0.5);
}

/*comps*/
* {
    box-sizing: border-box;
}
a{
color:rgba(23, 214, 216,1);
font-weight: 700;
text-decoration: none;
display: block;

}
.mainnav a:hover,a:hover{
color:rgba(23, 214, 216,0.6);
transition: color 0.2s;
}
.mainnav a:hover,a:active{
color:rgba(23, 214, 216,03);
}
.mainnav a:hover,a:visited{
color:rgba(23, 214, 216,1);
}
.logo{
	display: flex;
	align-items: center;
}

.small {
	width: 200px;
	float: left;
}

button {
	font-family:'Open sans',helvetica,arial,sans-serif;
  border-radius: 5px;
  border: none;
  box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
  margin:20px 0 20px 0;
  outline: none;
  padding: 10px;
	font-size: 14px;
  text-align: center;
  width: 100%;
	background-color: #fff;

}
button.primary, button.primary a {
  background-color:rgba(23, 214, 216,1);
  color: #fff;
}

button.secondary, button.secondary a  {
  background:#fafafa;
  color: rgba(0,41,54,1);

}
button:hover {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	opacity: 0.8;
}

button:active {
	transform: scale(0.9);
  height: 95%;
  transition: transform 0.1s;
  transition-timing-function: ease-in-out;
}



ul.features li{
	display: inline-block;
  width: 25%;
  padding: 20px;
}

.error {
	border: 1px solid #EF8368;
}
input.error {
	margin-bottom: 0;
	font-size: 14px;

}
.error::placeholder {
	color:#EF8368;
}


p.errormsg {
	font-size:14px;
	color:#EF8368;
	margin-bottom:20px;

}


figure{
  margin: 0;
  padding: 0;
}

footer h4 {
	margin-bottom: 10px;

}

footer  nav li {

	display: block;
}

footer a{
  color: #fff;
  font-size: 14px;
}


.footer {
	padding: 40px;
}

footer nav{
	display: inline-grid;
  background-color: rgba(0,41,54,1);
  color: #fff;
	grid-template-columns: auto auto auto auto;
  grid-gap:20px;
	width: 100%;

}


h1 {
  font-size:40px;
}

h2 {
  font-size:32px;
}

h3 {
  font-size:28px;
}

h3 {
  font-size:20px;
}

h1,h2,h3,h4{
  margin: 20px 0 20px 0;
  font-weight: 700;

}

input,textarea {
	font-family: 'Open sans',helvetica,arial,sans-serif;
  background-color: #F0F6F8;
  border: 1px solid #fafafa;
  border-radius: 5px;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  outline: none;
  width: 100%;
}
input:hover,textarea:hover {
  background-color: #FFF;
  border: 1px solid rgba(0,41,54,0.1);
}

.maincolorblue{
	background-color:rgba(0,41,54,1);
	color: white;
	font-size: 18px;
	display: block;
	padding: 20px;
	margin: 20px;

}
.maincolorgreen{
	background-color: rgba(23, 214, 216,1);
	color: white;
	font-size: 18px;
	display: block;
	padding: 20px;
	margin: 20px;

}
.modalbuttons .primary, .modalbuttons .secondary {
		display: inline-block;
		width: 47%;
}
.modalbuttons .primary{
		margin-left: 20px;
}

.mainnav {
	display: inline-flex;
	justify-content: flex-end;
}

.mainnav a {
	color: white;
}


nav li {
	display: inline-block;
	margin-right: 10px;
}

.mobile a {
	display: block;
	padding: 20px 20px 20px 0;
	margin-bottom: 10px;
}

#mobile-menu {
	display: none;
}


@keyframes slide {
    from {right: 3000px;opacity: 0.2}
    to {left:0;opacity:1;}
}

.overlay {
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: 2000;
	animation-name: pop;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}

@keyframes pop {
    from {opacity:0;}
    to {opacity:1;}
}


.learnmore li {
	margin-bottom: 20px;
}

.subnav {
	margin-bottom: 20px
}

.subnav button {
	width: 200px;
}

.data {
	font-weight: 400;
	color:rgba(0,41,54,0.5);
}

.euro {
	display:inline-block;
	margin-left: 5px;
}


@keyframes loading {
		from {opacity:0;}
		to {opacity:1;}
}

.loading{
	animation-name:loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-delay: 1s;
}

.loader {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}



.modal {
	background: white;
	padding:20px;
	margin:20px;
	border-radius: 5px;


}



/* The element to apply the animation to */






.modal h3 {
	margin-bottom: 10px;
}

p {
  margin:0 0 20px 0;
}

::placeholder {
	color: rgba(0,41,54,0.4);
}


.special {
	padding: 0;
}


.wrapper {
  padding: 40px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.path {
  stroke-dasharray: 2000;
  animation: path 3s ease alternate infinite;
}

@keyframes path {
  to {
    stroke-dashoffset: 2000;
  }
}

/*Experimental*/

.gridwrapper1 {
	display: inline-grid;
	grid-template-columns: auto auto;
  grid-gap: 20px;
	width: 100%;
	align-content: center;
	justify-content: center;
}

.menu {display: none;}

.breadcrumbs {
		font-size: 14px;
		padding: 10px;
}

.breadcrumbs a{
	display: inline-block;
	padding: 20px 0 20px 0;

}

/*If the browser window is 600px or smaller*/
@media only screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}

	.breadcrumbs {
			font-size: 14px;
			padding: 5px;
	}

	.breadcrumbs a{
		display: inline-block;
		padding: 10px 0 10px 0;

	}

.companylogo {
	margin: 20px 0 10px 0;
	font-size: 18px;
}

.sandbox {
	background-color: rgba(23, 214, 216,1);
	font-size:10px;
	font-weight: 700;
	width: 60px;
	text-align:center;
	margin-bottom: 20px;
	border-radius: 2px;
}

	#mobile-menu {
		background-color:rgba(0,41,54,1);
		padding: 20px;
		position:fixed;
		width: 100%;
		height: 100%;
		z-index: 2002;
		animation-name: slide;
		animation-duration: 0.5s;
		animation-timing-function: ease;
		display: none;
		overflow: hidden;
	}



	.db-grid {
		display: block;
	}




.sidebar {display: none;}

header, .title{
	display: flex;
	    justify-content: start;
	    align-items: center;
	    width: 100%;
}


.menu {margin-right: 20px;
	display: block;

}

	.modalbuttons .primary, .modalbuttons .secondary {
			display: block;
			width: 100%;
	}
	.modalbuttons .primary{
			margin-left: 0;
	}

	button {
	  border-radius: 5px;
	  border: none;
		background-color: #fafafa;
	  box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
	  font-size: 14px;
	  font-weight: 700;
	  margin:20px 0 20px 0;
	  outline: none;
	  padding: 10px;
	  text-align: center;
	  width: 100%;
	}

.hamburger {
	width:66px;

}

button.hamburger {
	background-color: rgba(23, 214, 216,1);
	padding:0;
}

	button {
	  margin-bottom: 20px;

	}


	h1 {
	  font-size:36px;
	}

	h2 {
	  font-size:24px;
	}

	h3 {
	  font-size:20px;
	}

	h3 {
	  font-size:16px;
	}


	.wrapper {
		padding:10px;
	}
	.card {
		padding:20px;
		overflow: auto;
		margin:10px 0;
		border-radius: 5px;
	}

	.main {
		padding:10px;
	}

	.special {
		padding: 0;
	}



h1,h2,h3,h4 {
		margin: 10px 0 10px 0;

	}

	.mainnav {
		justify-content: center;
	}

	.mainnav li {
		margin: 20px 0;
		display: block;

	}

	input,textarea {
		padding:15px;
	}
 .gridwrapper1 {
		grid-template-columns: repeat(auto-fit, 100%);
		text-align: center;
	}

	.wrapper {
	  padding: 20px;
	}


	.logo
	{justify-content: center;}

.features {
	text-align: center;
}

	ul.features li {
	padding:10px;
	display: block;
	width: 100%;
}

p {
  margin:0 0 10px 0;
}
